:root {
  --close: url('../Textures/close.png');
  --logo: url('../Textures/logo.png');
}
#main {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
header {
  background-color: var(--subbg);
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
}
hr {
  border-top: solid 1px var(--border);
  border-left: solid 2px var(--border);
  border-bottom: solid 1px var(--border);
  border-right: solid 2px var(--border);
}
#title {
  height: 50px;
  width: 130px;
  background-image: var(--logo);
  background-size: auto calc(100% + 2px);
  background-position: -1px -1px;
  float: left;
}
#plustitle {
  font-size: 47px;
}
button {
  width: 95%;
  padding: 0 0;
  margin: 10px 2.5% 10px 2.5%;
  border-radius: 10px;
  background-color: var(--subbg);
  border: solid 2px var(--border);
  color: var(--color);
  cursor: pointer;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  width: 100%;
  height: 60px;
  margin: 5px 2.5% 5px 2.5%;
  border-radius: 2px;
  background-color: var(--border);
  color: var(--subcolor);
  border: solid 2px var(--subcolor);
  text-shadow: 0 0 5px var(--subcolor);
  box-shadow: 0 0 5px var(--subcolor), inset 0 0 5px var(--subcolor);
}
#btnclosewindows {
  position: absolute;
  top: 4px;
  right: 19px;
  width: 20px;
  height: auto;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  border: solid 2px var(--border);
  border-bottom: solid 2px var(--border) !important;
  background-color: var(--background);
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
  background-image: var(--close);
  filter: drop-shadow(0px 0px 6px transparent) grayscale(1);
  cursor: pointer;
}
#btnclosewindows:hover {
  filter: drop-shadow(0px 0px 6px var(--subcolor)) grayscale(0);
  border: solid 2px var(--subcolor);
  border-bottom: solid 2px var(--subcolor) !important;
}
.spt {
  color: var(--subcolor);
}
.spt-window {
  color: var(--subcolor);
  opacity: 0;
  font-size: 47px;
  position: absolute;
  top: 0;
  left: 130px;
}
#iStickers,
#iAvatars,
#iWallpapers {
  width: 100%;
  height: calc(100% - 50px);
  border: none;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: var(--background);
  z-index: 1;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer,
.footer,
#footer {
  position: fixed;
  bottom: 0;
}
@media screen and (max-width: 500px) {
  #iStickers,
  #iAvatars {
    flex-direction: row;
  }
}