:root {
  --close: url('../Textures/close.png');
  --copy: url('../Textures/copy.png');
  --down: url('../Textures/download.png');
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.categories button {
  transform: scale(1);
  padding: 0px 4px;
  margin: 0px;
  border-radius: 0px;
  width: auto;
  height: 42px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
  border: solid 2px var(--border);
}
.categories button:hover {
  transform: scale(1.05);
  color: var(--subcolor);
  background: var(--subbg);
  border: solid 2px var(--subcolor);
  z-index: 1;
}
.categories button.active {
  transform: scale(1);
  color: var(--interact-color) !important;
  background: var(--border) !important;
  border: solid 2px var(--interact-color) !important;
}
.content {
  width: 100%;
  height: auto;
  overflow: auto;
  display: none;
  flex-wrap: wrap;
}
.image-display {
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(0px);
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#closePreview,
#copyButton,
#downButton,
#closePreviewgif,
#copyButtonGif,
#downButtonGif,
#closePreviewvid,
#copyButtonVid,
#downButtonVid {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: auto;
  padding: 10px 10px;
  text-align: center;
  border-radius: 10px;
  border: solid 2px var(--border);
  background-color: var(--background);
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
  background-image: var(--close);
  filter: drop-shadow(0px 0px 6px var(--border)) grayscale(1);
  cursor: pointer;
  z-index: 1;
}
#copyButton,
#copyButtonGif,
#copyButtonVid {
  background-image: var(--copy);
  right: 63px;
}
#downButton,
#downButtonGif,
#downButtonVid {
  background-image: var(--down);
  right: 117px;
}
#closePreview:hover,
#closePreviewgif:hover,
#closePreviewvid:hover,
#copyButton:hover,
#downButton:hover,
#copyButtonGif:hover,
#downButtonGif:hover,
#copyButtonVid:hover,
#downButtonVid:hover {
  filter: drop-shadow(0px 0px 6px var(--subcolor)) grayscale(0);
  border: solid 2px var(--subcolor);
}
#expandedImg,
#expandedImgGif,
#expandedImgVid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 40%;
  min-height: 40%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: none;
  margin: auto;
  border-radius: 0px !important;
  object-fit: contain;
}
#expandedImg:hover,
#expandedImgGif:hover,
#expandedImgVid:hover {
  cursor: none;
}
.categories.mobile {
  display: flex;
  overflow: auto;
}