:root {
  --close: url('../Textures/close.png');
  --copy: url('../Textures/copy.png');
  --down: url('../Textures/download.png');
}
.categories {
  display: grid;
  grid-template-columns: 1fr;
  width: 30%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 1%;
}
.categories#categoriesWallpapers {
  height: 50%;
}
.categories button {
  transform: scale(1);
  padding: 0px 4px;
  margin: 0px;
  border-radius: 0px;
  width: auto;
  height: 42px;
  font-weight: bold;
  cursor: pointer;
  color: var(--color);
  background: var(--background);
  border: solid 2px var(--border);
}
.categories button:hover {
  transform: scale(1.05);
  color: var(--subcolor);
  background: var(--subbg);
  border: solid 2px var(--subcolor);
  z-index: 1;
}
.categories button.active {
  transform: scale(1);
  color: var(--interact-color) !important;
  background: var(--border) !important;
  border: solid 2px var(--interact-color) !important;
}
.wall-button-style {
  width: 30%;
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
}
.content {
  width: 70%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: center;
  align-items: center;
  display: none;
}
.content#imagesSlistWallpapers {
  width: 75%;
  align-content: flex-start;
}
.image-display {
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(0px);
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.preview-btns {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}
#closePreview,
#copyButton,
#downButton,
#closePreviewgif,
#copyButtonGif,
#downButtonGif,
#closePreviewvid,
#copyButtonVid,
#downButtonVid {
  position: relative;
  width: auto;
  max-width: 20px;
  height: 20px;
  padding: 10px 10px;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  border: solid 2px var(--border);
  background-color: var(--background);
  background-size: auto 50%;
  background-position: 11px 10px;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 6px var(--border)) grayscale(1);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
#closePreview,
#closePreviewgif,
#closePreviewvid {
  background-image: var(--close);
}
#closePreview::after,
#closePreviewgif::after,
#closePreviewvid::after {
  content: 'Close';
  white-space: nowrap;
  color: transparent;
  padding-left: 32px;
}
#copyButton,
#copyButtonGif,
#copyButtonVid {
  background-image: var(--copy);
}
#copyButton::after,
#copyButtonGif::after,
#copyButtonVid::after {
  content: 'Copy';
  white-space: nowrap;
  color: transparent;
  padding-left: 32px;
}
#downButton,
#downButtonGif,
#downButtonVid {
  background-image: var(--down);
}
#downButton::after,
#downButtonGif::after,
#downButtonVid::after {
  content: 'Download';
  white-space: nowrap;
  color: transparent;
  padding-left: 32px;
}
#closePreview:hover,
#closePreviewgif:hover,
#closePreviewvid:hover,
#copyButton:hover,
#downButton:hover,
#copyButtonGif:hover,
#downButtonGif:hover,
#copyButtonVid:hover,
#downButtonVid:hover {
  filter: drop-shadow(0px 0px 6px var(--subcolor)) grayscale(0);
  border: solid 2px var(--subcolor);
}
#closePreview:hover,
#closePreviewgif:hover,
#closePreviewvid:hover {
  max-width: 77.912px;
}
#copyButton:hover,
#copyButtonGif:hover,
#copyButtonVid:hover {
  max-width: 73.362px;
}
#downButton:hover,
#downButtonGif:hover,
#downButtonVid:hover {
  max-width: 111.162px;
}
#closePreview:hover::after,
#closePreviewgif:hover::after,
#closePreviewvid:hover::after,
#copyButton:hover::after,
#copyButtonGif:hover::after,
#copyButtonVid:hover::after,
#downButton:hover::after,
#downButtonGif:hover::after,
#downButtonVid:hover::after {
  color: var(--subcolor);
}
#expandedImg,
#expandedImgGif,
#expandedImgVid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 40%;
  min-height: 40%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: none;
  margin: auto;
  border-radius: 0px !important;
  object-fit: contain;
}
#expandedImg:hover,
#expandedImgGif:hover,
#expandedImgVid:hover {
  cursor: none;
}
.categories.mobile {
  display: flex;
  overflow: auto;
}
.mobile .wall-button-style {
  height: auto;
}
.mobile .categories#categoriesWallpapers {
  height: 87%;
}
img.avatar {
  width: calc(20% - 10px);
  margin: 5px;
}
img.sticker {
  width: calc(20% - 10px);
  margin: 5px;
}
img.wallpaper {
  max-width: 60%;
  height: auto;
  margin: 2px auto;
}
img.avatar:hover {
  width: 20%;
  margin: 0px;
  filter: drop-shadow(0px 0px 6px var(--background));
}
img.sticker:hover {
  width: 20%;
  margin: 0px;
  filter: drop-shadow(0px 0px 6px var(--background));
}
img.wallpaper:hover {
  filter: drop-shadow(0px 0px 6px var(--background));
}
#imgpagination,
#vidpagination,
#aipagination {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
.pagination,
.pagination-ai {
  width: 28px;
  height: 18px;
  border-radius: 10px;
  padding: 6px 0px;
  margin: 5px;
  color: var(--color);
  background-color: var(--background);
  border: solid 2px var(--border);
  display: inline-block;
  text-align: center;
  font-size: 18px;
  filter: drop-shadow(0px 0px 6px var(--border));
  cursor: pointer;
}
.pagination:hover,
.pagination-ai:hover {
  color: var(--subcolor);
  background-color: var(--subbg);
  border: solid 2px var(--subcolor);
  filter: drop-shadow(0px 0px 6px var(--subcolor));
}
.pagination.active,
.pagination-ai.active {
  color: var(--interact-color);
  background-color: var(--border);
  border: solid 2px var(--interact-color);
  filter: drop-shadow(0px 0px 6px var(--interact-color));
}
#expandedImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 80%;
  display: block;
  border: none;
  margin: auto;
  border-radius: 0px !important;
}
.paginations-cotroller {
  display: none;
}
#paginationNumber {
  color: var(--color);
  width: 100%;
  border-top: solid 2px var(--border);
  border-left: solid 2px var(--border);
  text-align: center;
}
.paginationsPrevNext {
  display: flex;
  width: 100%;
}
.paginationsPrevNext button {
  width: 100%;
  margin: 0;
  border-radius: 0;
  height: 50px;
}
.paginationsPrevNext button:disabled {
  border: solid 2px var(--import-error);
  color: var(--import-error);
  background-color: var(--subbg);
  text-shadow: none;
  box-shadow: none;
}
@media screen and (min-width: 500px) {
  img.sticker,
  img.avatar {
    width: calc(10% - 10px);
  }
  img.sticker:hover,
  img.avatar:hover {
    width: 10%;
  }
}
@media screen and (max-width: 500px) {
  #iAvatars .categories button,
  #iStickers .categories button {
    padding: 0px 0px;
    width: 100%;
    height: 40px;
  }
  img.wallpaper {
    max-width: 100%;
  }
  .paginationcontainer {
    display: none !important;
  }
  .paginations-cotroller {
    display: block;
  }
}